.Donate {
  justify-content: center;
  align-items: center;
}

.Donate-title {
  margin: 40px;
}

.small-text {
  margin: 75px 0px 75px 0px;
}

.funds-org > li {
  font-size: 15px;
  margin-top: 20px;
}

.funds-org > li > a {
  text-decoration: none;
  color: black;
}

.funds-org > li > a:hover {
  color: #7a807d;
}
