.Petition {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Petition-content {
  flex: 1;
}

.list-unstyled > li > a {
  font-size: 15px;
  text-decoration: none;
  color: black;
}

.list-unstyled > li {
  margin-top: 20px;
}

.list-unstyled > li > a:hover {
  color: #7a807d;
}
