.list-unstyled > li > a {
  font-size: 15px;
  text-decoration: none;
  color: black;
}

.list-unstyled > li {
  margin-top: 20px;
}

.list-unstyled > li > a:hover {
  color: #7a807d;
}

.Petition-main {
  margin-bottom: 40px;
}
